#logcon{
    margin-top: 0px;
}
#navlia{
    margin-top: 10px;
    margin-bottom:7px;
    padding-top: 0px;
}
#brand{
    padding-top: 15px;
    padding-left: 60px;
}
#log1{
    padding-top: 3px;
}
#log{
    padding-top: 9px;
}
#fgpw{
    font-size: 11px;
}
#navlog{
    margin-top: 8px;
    margin-bottom: 16px;
}